= render '/application/mailer_doctype'
%html
  %p You were mentioned in a discussion titled #{@discussion.title}

  %p #{@comment.author.name} said:

  %div{style: "font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px; width: 500px; padding-left: 16px;"}
  :plain
    #{@rendered_comment_body}

  %p
    = link_to "Click here to view this discussion", discussion_url(@discussion)

  = render 'unsubscribe_link'
